/* scale for mobile layout */
/* scale for large display layout */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap");
.btn, .foot--D svg {
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/* 
OpenSans: regular, bold, 

Poppins: regular, semiBold

*/
h1,
h2 {
  color: #00252e;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 1.75rem;
    line-height: 2.625rem;
  }
}

a,
li,
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

@media screen and (min-width: 1000px) {
  a,
  li,
  p {
    font-size: 1.125rem;
  }
}

li {
  color: white;
  line-height: 1.5rem;
}

p {
  color: #808d99;
  line-height: 1.3125rem;
}

@media screen and (min-width: 1000px) {
  p {
    line-height: 1.6875rem;
  }
}

.btn {
  background-color: white;
  box-shadow: 0px 2px 7px #00000018;
  font-weight: 700;
}

.btn:hover {
  opacity: 0.70;
}

.btn:focus {
  outline: none;
  opacity: 0.70;
}

.btn--small {
  border-radius: 12px;
  font-size: 0.625rem;
  padding: 0.25rem 1.375rem 0.375rem 1.4375rem;
}

@media screen and (min-width: 1000px) {
  .btn--small {
    border-radius: 24px;
    font-size: 0.875rem;
    padding: 0.8125rem 4rem 1rem 4.0625rem;
  }
}

.btn--large {
  border-radius: 20px;
  font-size: 0.75rem;
  padding: 0.625rem 3.75rem 0.8125rem 3.75rem;
}

@media screen and (min-width: 1000px) {
  .btn--large {
    border-radius: 28px;
    font-size: 0.875rem;
    padding: 1.0625rem 4.34375rem 1.25rem 4.40625rem;
  }
}

.btn--pink {
  color: white;
  background: #ff52bf;
  box-shadow: 2px 3px 6px rgba(255, 82, 191, 0.16);
}

.CTA {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 14px #00000012;
  border-radius: 15px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 9.6875rem;
  padding: 2.5625rem 0.75rem;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .CTA {
    padding: 2.9375rem 7.9375rem 3.25rem 8.25rem;
  }
}

.CTA h2 {
  margin-bottom: 1.8125rem;
}

@media screen and (min-width: 500px) {
  .CTA h2 {
    margin-bottom: 3.5rem;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 4.26667vw;
  padding-top: 1.75rem;
}

@media screen and (min-width: 1000px) {
  nav {
    padding-top: 3.5625rem;
    margin: 0 5.55556vw;
  }
}

nav .logo {
  background-image: url("../images/logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1rem;
  width: 6.5rem;
}

@media screen and (min-width: 1000px) {
  nav .logo {
    height: 1.9375rem;
    width: 12.5rem;
  }
}

header {
  background-color: #ebfbff;
  background-image: url("../images/bg-hero-mobile.svg");
  background-size: cover;
  padding-bottom: 2.3125rem;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  header {
    background-image: url("../images/bg-hero-desktop.svg");
    column-gap: 3.375rem;
    display: grid;
    padding-bottom: 4.5rem;
    grid-template-areas: 'A A' 'B C';
  }
}

header nav {
  grid-area: A;
}

header .txt-cont {
  grid-area: B;
}

@media screen and (min-width: 1000px) {
  header .txt-cont {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5.55556vw;
    text-align: left;
  }
}

header h1 {
  margin: 5.25rem 12.8vw 1.6875rem 12.8vw;
}

@media screen and (min-width: 1000px) {
  header h1 {
    margin: 0;
    margin-bottom: 2.375rem;
    margin-top: 5.375rem;
  }
}

header p {
  color: #00252e;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 9.6vw;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1000px) {
  header p {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    margin: 0;
    margin-bottom: 2.0625rem;
  }
}

header .img-cont {
  background-image: url("../images/illustration-mockups.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: C;
  height: 55.73vw;
  margin: 3.5rem auto 0 auto;
  width: 78.93vw;
}

@media screen and (min-width: 1000px) {
  header .img-cont {
    height: 33.47222vw;
    width: 47.22222vw;
    margin: 9.75rem 6.25vw 0 auto;
  }
}

.foot {
  background-color: #00252e;
  margin-top: -4.0625rem;
  padding: 8.6875rem 4.26667vw;
}

.foot a:hover, .foot a:focus {
  text-decoration: underline;
}

.foot a:focus {
  outline: none;
}

.foot li {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.foot textarea {
  height: 1.625rem;
  margin-bottom: 1.5rem;
  resize: none;
  width: 10.4375rem;
}

.foot--A li {
  padding-left: 2.5rem;
  background-repeat: no-repeat;
  background-position: 0 0.5rem;
}

.foot--A .address {
  background-image: url("../images/icon-location.svg");
}

.foot--A .phone {
  background-image: url("../images/icon-phone.svg");
}

.foot--A .email {
  background-image: url("../images/icon-email.svg");
}

.foot--B {
  margin-top: 2.875rem;
}

.foot--D {
  display: flex;
  justify-content: space-between;
  margin: 2.375rem auto 1.63938rem;
  width: 7.5rem;
}

.foot--D a:focus svg {
  fill: #ff52bf;
}

.foot--D svg {
  height: 1.9375rem;
  width: 1.9375rem;
  fill: white;
}

.foot--D svg:hover {
  fill: #ff52bf;
}

.foot .copyright {
  text-align: center;
}

.home {
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .home {
    text-align: left;
  }
}

.home p {
  margin: 0 16vw;
}

@media screen and (min-width: 1000px) {
  .home p {
    margin: 0;
  }
}

.home .img-cont {
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .home .img-cont {
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .home section {
    align-items: center;
    column-gap: 12.86597vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 9.4625vw 0 15.55556vw;
  }
}

.home--A {
  margin-top: 7.1875rem;
}

@media screen and (min-width: 1000px) {
  .home--A {
    padding-top: 10rem;
    grid-template-areas: 'B A';
  }
}

.home--A .img-cont {
  background-image: url("../images/illustration-grow-together.svg");
  height: 51.73333vw;
  width: 62.93333vw;
  grid-area: A;
}

@media screen and (min-width: 1000px) {
  .home--A .img-cont {
    height: 23.07569vw;
    width: 28.22708vw;
  }
}

.home--A h2 {
  margin-top: 3rem;
  grid-area: B;
}

@media screen and (min-width: 1000px) {
  .home--A h2 {
    margin: 0;
  }
}

.home--A p {
  margin-top: 1.5rem;
  grid-area: C;
}

.home--B {
  margin-top: 8.7875rem;
}

@media screen and (min-width: 1000px) {
  .home--B {
    padding-top: 6.92625rem;
  }
}

.home--B .img-cont {
  background-image: url("../images/illustration-flowing-conversation.svg");
  height: 46.08vw;
  width: 64.73067vw;
}

@media screen and (min-width: 1000px) {
  .home--B .img-cont {
    height: 20.63889vw;
    width: 29.02361vw;
  }
}

.home--B h2 {
  margin-top: 4.1rem;
}

@media screen and (min-width: 1000px) {
  .home--B h2 {
    margin: 0;
  }
}

.home--B p {
  margin-top: 1.125rem;
}

.home--C {
  margin-top: 9.72875rem;
}

@media screen and (min-width: 1000px) {
  .home--C {
    padding-top: 6.35rem;
    grid-template-areas: 'B A';
  }
}

.home--C .img-cont {
  background-image: url("../images/illustration-your-users.svg");
  height: 49.32267vw;
  width: 65.096vw;
  grid-area: A;
}

@media screen and (min-width: 1000px) {
  .home--C .img-cont {
    height: 22.07639vw;
    width: 29.18056vw;
  }
}

.home--C h2 {
  grid-area: B;
  margin-top: 3.35375rem;
}

@media screen and (min-width: 1000px) {
  .home--C h2 {
    margin: 0;
  }
}

.home--C p {
  grid-area: C;
  margin-top: 1.5rem;
}

.home .cta {
  grid-template-columns: 1fr;
}
/*# sourceMappingURL=main.css.map */