.btn {
    @extend %transition-ease;
    background-color: white;
    box-shadow: 0px 2px 7px #00000018;
    font-weight: 700;

    &:hover {
        opacity: 0.70;
    }

    &:focus {
        outline: none;
        opacity: 0.70;
    }

    &--small {
        border-radius: 12px;
        font-size: toRem(10);
        padding: toRem(4) toRem(22) toRem(6) toRem(23);  
        
        @include media-lg {
            border-radius: 24px;
            font-size: toRem(14);
            padding: toRem(13) toRem(64) toRem(16) toRem(65);
        }
    }

    &--large {
        border-radius: 20px;
        font-size: toRem(12);
        padding: toRem(10) toRem(60) toRem(13) toRem(60);

        @include media-lg {
            border-radius: 28px;
            font-size: toRem(14);
            padding: toRem(17) toRem(69.5) toRem(20) toRem(70.5);
        }
    }

    &--pink {
        color: white;
        background: hsla(322, 100%, 66%, 1);
        box-shadow: 2px 3px 6px hsla(322, 100%, 66%, 0.16);
    }
}