.foot {
    background-color: $footer-bg-color;
    margin-top: toRem(-65);
    padding: toRem(139) toMobile(16);

    @include media-lg {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        padding: toRem(144) toLarge(78) toRem(68) toLarge(120);
        
        section {
            max-width: 400px;
        }
    }

    a {
        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &:focus {
            outline: none;
        }
    }

    li {
        line-height: toRem(24);
        margin-bottom: toRem(24);
    }

    textarea {
       height: toRem(26); 
       margin-bottom: toRem(24);
       resize: none;
       width: toRem(167);
    }

    

    &--A {
        li {
            padding-left: toRem(40);
            background-repeat: no-repeat;
            background-position: 0 toRem(8);
        }

        .address {
            background-image: url('../images/icon-location.svg');    
        }

        .phone {
            background-image: url('../images/icon-phone.svg');
        }

        .email {
            background-image: url('../images/icon-email.svg');
        }
        
    }

    &--B {
        margin-top: toRem(46);

        @include media-lg {
            margin: 0;
        }
    }

    &--D {
        display: flex;
        justify-content: space-between;
        margin: toRem(38) auto toRem(26.23);
        width: toRem(120);

        @include media-lg {
            margin: 0;
            
        }

        a {
            &:focus {
                svg {
                    fill: hsla(322, 100%, 66%, 1);
                }
            }
        }

        svg {
            @extend %transition-ease;
            height: toRem(31);
            width: toRem(31);
            fill: white;

            &:hover {
                fill: hsla(322, 100%, 66%, 1);
            }
        }
    }

    .copyright {
        text-align: center;

        @include media-lg {
            margin-top: toLarge(103);
        }
    }
}