:root {
    --Pink: hsl(322, 100%, 66%);
    --VeryPaleCyan: hsl(193, 100%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 3rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header {
    background-color: var(--VeryPaleCyan);
    background-image: url('../images/bg-hero-desktop.svg');
    background-size: auto;
    padding: 6rem;
}

.first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.logo {
    width: 20rem;
}

.button {
    display: flex;
    background-color: var(--Pink);
    width: 28rem;
    height: 5.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(200, 200, 200, 0.25);
    margin: 3rem;
}

#try {
    background-color:white;
    color: black;
}

.second-child {
    display: flex;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mockups {
    width: 70rem;
    height: 50rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
}

section {
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px var(--VeryDarkCyan);
    display: flex;
    width: 125rem;
    height: 45rem;
    margin-bottom: 5rem;
}

section img {
    width: 42rem;
}

section .content-container {
    margin: 14rem;
}

section p {
    color: var(--GrayishBlue);
}

#conversations {
    flex-direction: row-reverse;
}

#buy-in {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80rem;
    height: 28rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: relative;
    bottom: -25rem;
    z-index: 1;
}

#buy-in h2 {
    font-size: 3rem;
}

#buy-in .button {
    width: 40rem;
    height: 8rem;
}


footer {
    background-color: var(--VeryDarkCyan);
    padding: 20rem 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

footer .content-container {
    max-width: 50rem;
}

.contact td {
    padding: 1rem;
}

footer li {
    margin: 1rem;
}

.copy {
    margin-top: 16rem;
    font-size: 1rem;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
